

.vipcore {

  .myid{
    font-size: .3rem;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    span{
      display: inline-block;
      text-align: center;
      width: 33.3333333%;
      height: .44rem;
      line-height: .44rem;
    }
    .myimg{
      text-align: left;
      .icon-houtui{
        display: inline-block;
        width: .4rem;
        height: .4rem;
        line-height: .4rem;
        border: .01rem solid black;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        margin-left:.3rem;
        background-color: #000;
      }
    }
    .myvip{
      text-align: center;
      color: #21292b;
    }
    .myqy{
      text-align: right;
      color: #ff712b;
      .aaa{
        margin-right: .2rem;
      }
    }
  }

  .vip-header {
    text-align: center;
    width: 100%;
    height: 2.5rem;
    background: #ff9f5d;
    color: #FFFFFF;
    .header-box {
      position: relative;
      width: 100%;
      height: 1.24rem;
      margin: 0 auto;

      .header-box-log {
        position: absolute;
        display: block;
        width: 1rem;
        height: 1rem;
        left: 50%;
        top: 50%;
        margin-top: -.5rem;
        margin-left: -.5rem;
        background: url("../images/3.png") no-repeat;
      }
    }

    .hig {
      height: .58rem;
      line-height: .33rem;
      text-align: center;
      color: #FFFFFF;
      .hig-s{
        width: 100%;
        .hig-s-p{
          display: block;
          border-bottom: .03rem solid #FFFFFF;
        }
      }
    }
    .text{

      color: beige;
      font-size: .18rem;
      margin-top: .12rem;
    }
  }

  .vip-center{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    background-color: #f6f5f4;
    box-shadow: .01rem .01rem .03rem .01rem  #838281;
    font-size: .16rem;
    text-align: center;
    .left{
      display: inline-block;
      width: 49%;
      border-right: .01rem solid red ;
      height: 1rem;
      line-height: 1rem;
      color: #a5a5a5;
      .left-s{
        font-style: normal;
        color: red;
      }
    }
    .right{
      display: inline-block;
      width: 49%;
      height: 1rem;
      line-height: 1rem;
      color: #a5a5a5;
    }
    .right-s{
      font-style: normal;
      color: red;
    }
  }

  .vip-bottom{
    width: 100%;
    font-size: .18rem;
    margin-top: .5rem;
    .bottom-p{
      line-height: .50rem;
      padding: .05rem;

      font-style: normal;
      border-radius: .05rem;
      font-size: .20rem;
      color: #a5a5a5;

    }

    .bottom-down {
      background-color: #FFF;
      line-height: .2rem;

      margin-top: .1rem;
      .list-down-ls {
        display: inline-block;
        margin-top: .6rem;
        width: 25%;
        text-align: center;
        .down-p{
          margin-top: 0.08rem;
        }
      }
    }

  }


}